@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.orders {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(249, 195, 18);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: white;
}
